<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arnoldvaz27.management">

    <application>
        <activity
            android:name=".CanteenData"
            android:exported="true" />
        <activity
            android:name=".BedsData"
            android:exported="true" />
        <activity
            android:name=".ServicesData"
            android:exported="true" />
        <activity
            android:name=".DoctorsData"
            android:exported="true" />
        <activity
            android:name=".ManagementHome"
            android:exported="true" />
    </application>

</manifest>