<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arnoldvaz27.nurses">

    <application>
        <activity
            android:name=".CanteenNurseData"
            android:exported="true" />
        <activity
            android:name=".MedicineNurseData"
            android:exported="true" />
        <activity
            android:name=".BedsNurseData"
            android:exported="true" />
        <activity
            android:name=".AmbulanceNurseData"
            android:exported="true" />
        <activity
            android:name=".NurseHome"
            android:exported="true" />
    </application>

</manifest>